<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/works.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    <div class="cajas">
        <div class="header2">
            <h2> Some of his innovations</h2>
        </div>
    
        <div class="caja">
            <p>
          <b> Macintosh: </b> A great leap in the career of Steve Jobs was the introduction of the original Macintosh (1984), the first consumer computer with a graphical user interface. In other words, it had an operating system with windows and icons, and a mouse to move between them. This idea did not originate with Steve Jobs. It’s well known how he was inspired during a visit to the Xerox research centre, where all these ideas had already been developed. But Jobs managed to pack them all into a revolutionary computer, adding a few touches of his own.
            </p>
        </div>
        <img id="img" src="/images/mac old.jpg" alt="old mac">

    
        <div class="caja">
            <p>
           <strong>Typography on screen:  </strong> One of the major innovations of the original Macintosh was that it showed on the screen the font chosen for the text. Until then, what was drawn on computer screens was just like on a typewriter. It was on the insistence of Steve Jobs that the first Mac had the ability to display different fonts. As he explained in his famous speech at Stanford University, this effort was due to a fleeting period in college when he was bored and decided to take a course in calligraphy.
            </p>
        </div>
        <img id="img" src="/images/tipografia.jpg" alt="">
    
        <div class="caja">
            <p>
           <b> Mouse:</b> Steve Jobs was not the inventor of the mouse, but during his career at the head of Apple, one of his obsessions was to perfect this device for communicating with computers, though the results were rather disparate. He first got it right with the simple one-button mouse for the original Macintosh, much simpler than the mice that he had discovered on his visit to Xerox PARC. Next, on the launch of the iMac, he insisted on the idea of ​​a single-button mouse, but with a circular design that made it much more uncomfortable and confusing to users. Finally, with his immodest “Mighty Mouse” and “Magic Mouse,” he corrected the mistake and took his idea even further: Apple mice no longer have any buttons.
            </p>
        </div>
        <img id="magic-mouse" src="/images/magic mouse.jpg" alt="">
        <div>
            <a href="/"><button class="btn-home">Home</button></a>
        </div>
        
    </div>
   
</body>
</html>