*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url("/images/klim-musalimov-rDMacl1FDjw-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
 color: white;
 font-size: 30px;
}

.cajas{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja{
    color: white;
    margin: 50px;
    width: 700px;
    height: 70px;
    display: flex;
    text-align: justify;
    align-content: center;
}


/* .texto-principal{
    display: flex;
    justify-content: center;

    width: 700px;
    height: 50px;
} */

#img{
    margin-top: 30px;
    width: 200px;
    height: 300px;
    border-radius: 30px;
  
}

#magic-mouse{
    margin-top: 90px;
    width: 200px;
    height: 300px;
    border-radius: 30px;
    
}

.btn-home{
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
    color: white;
    font-size: 25px;
   border-color: transparent;
}